#mainHeader {
    text-align: center;
    background-image: linear-gradient(to right, #3232fd, #1212a2, #01014b );
    margin-top: 0px;
    height: 100px;
    font-size: 40px;
    padding-top: 40px;
}


#searchSection {
    float: left;
    width: 22%;
    height: 100%;
    padding-top: 30px;
    
}

#searchButton {
    margin-bottom: 10px;
    margin-left: 20px;
    width: 77%;
}

#searchHeading {
    margin-left: 10px;
    padding-left: 10px;
    font-size: 25px;
    margin-bottom: 10px;
}

#weatherSearch {
    margin-left:20px;
    text-align: center;
    margin-bottom: 10px;
    width: 77%;
}

.current {
    display: inline-block;
    margin-top: 10px;
    
}

#mainContainer {
    border: 3px solid black;
    float:right;
    width: 72%;
    margin: 10px 20px 20px 10px;
   
}
.dynamicInput {
    font-weight: normal;
    margin-left:10px;
}

.weatherTag {
    margin-left: 20px;
    margin-bottom: 10px;
}

#cityName {
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 50px;
}

float-left {
    float:left;
}

float-right {
    float:right;
}

#fiveDayContainer {
    display:flex;
    margin: 10px 20px 20px 10px;
    border: 2px solid black;
    margin-top: 10px;
    width: 72%;
    float:right;
    flex-wrap:wrap;
    justify-content: space-around;
}

.dailyWeather {
    display: inline-flex;
    margin: 20px 15px;
    width:17%;
    height: 225px;
    border: 1px solid black;
    display:inline-block;
    flex-wrap: wrap;
   
}

.dailyWeather h3, .dailyWeather h2 {
    margin: 20px 20px 20px 10px;
}

#cloud2 {
    display:none
}

.weatherIcon {
    height: 50px;
    width: 50px;
}